
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-orange: #FF7020;
  --brand-text: #4F4640;
}

@font-face {
  font-family: "Optima";
  src: url(../../public//assets//Optima.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h5, h6 {
  font-family: "Optima", sans-serif !important;
  font-weight: normal;
line-height: 120% !important;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

h4{
   font-family: "Inter", sans-serif;
   
    font-weight: 500;
}

span{
    font-family: "Inter", sans-serif;

}

.container {
  @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
}

.container-lg {
  @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
}

.container-xl {
  @apply mx-auto w-[90%] px-4 sm:px-6 lg:px-8;
}

.bg-gray-color{
background-color:#F8F8F8;
}

.text-gray-color{
   color: #555555 !important;
} 

.rounded-md{
   border-radius: 6px !important;
}

.swiper-navigation-icon{
   color: #000;
   width: 10px !important;
}
